$color: #286090;
$wiggleDistance: 10px;
$wiggleDuration: 2s;
$loaderYOffset: -27px;
$loaderXOffset: 12px;

@keyframes wiggle {
  0%, 75%, 100% {
    transform: translateY(0);
    background-color: $color;
  }
  25% {
    transform: translateY(-$wiggleDistance);
  }
  50% {
    transform: translateY($wiggleDistance);
  }
}
.loader {
  position: absolute;
  transform: translate($loaderXOffset, $loaderYOffset);
}
.bit {
  display: inline-block;
  position: relative;
  width: $wiggleDistance;
  height: $wiggleDistance;
  background-color: $color;
  animation: wiggle $wiggleDuration ease-in-out infinite;
  border-radius: 50%;
}
.bit-2 {
  animation-delay: ($wiggleDuration / 10);
}
.bit-3 {
  animation-delay: ($wiggleDuration / 10 * 2);
}
.bit-4 {
  animation-delay: ($wiggleDuration / 10 * 3);
}
